<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.weappdemo.mapper.OrderMapper">
    <select id="getOrderList" resultType="cn.edu.guet.weappdemo.bean.Order">
        select * from order_a where 1=1
        <if test="id!=null">
            and id=#{id}
        </if>
        <if test="user_id!=null">
            and user_id=#{user_id}
        </if>
        <if test="order_type!=null">
            and order_type=#{order_type}
        </if>
        <if test="pay_type!=null">
            and pay_type=#{pay_type}
        </if>
        <if test="create_time!=null">
            and create_time=#{create_time}
        </if>
        order by id
    </select>
    <select id="selectOrder" resultType="cn.edu.guet.weappdemo.bean.Order">
        select * from order_a where user_id=#{value}
    </select>
    <select id="orderUserList" resultType="cn.edu.guet.weappdemo.bean.OrderUser">
        select o.id order_id,u.id user_id,u.nickName user_name,u.phone user_phone,a.address user_address
        from order_a o,address a,user u
        where o.id=#{order_id} and o.user_id=#{user_id} and o.user_id=u.id and u.id=a.user_id
    </select>
    <insert id="addOrder">
        insert into order_a values (#{id},'1', #{user_id},'1','1','1',now(),now(),'1','1','1','1',now(),'1','1','1','1')
    </insert>
    <delete id="deleteOrder">
        delete from order_a where id=#{id}
    </delete>
</mapper>
