<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.weappdemo.mapper.OrderFoodMapper">

    <select id="searchOrder" resultType="cn.edu.guet.weappdemo.bean.OrderFood">
        select o.*,f.food_img from (select * from order_food where order_id=#{order_id}) o,food f where o.food_id=f.id
    </select>
</mapper>
