<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.weappdemo.mapper.SysMenuMapper">
    <resultMap id="BaseResultMap" type="cn.edu.guet.weappdemo.bean.SysMenu">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="perms" jdbcType="VARCHAR" property="perms"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , name, parent_id, url, perms, type, icon, order_num, create_by, create_time, last_update_by,
    last_update_time, del_flag
    </sql>
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_menu
    </select>
    <select id="findByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select m.*
        from sys_menu m,
             sys_user u,
             sys_user_role ur,
             sys_role_menu rm
        where u.name = #{userName,jdbcType=BIGINT}
          and u.id = ur.user_id
          and ur.role_id = rm.role_id
          and rm.menu_id = m.id
    </select>
</mapper>