<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.weappdemo.mapper.SysUserRoleMapper">
    <resultMap id="BaseResultMap" type="cn.edu.guet.weappdemo.bean.SysUserRole">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, role_id, create_by, create_time, last_update_by, last_update_time
    </sql>
    <select id="findUserRoles" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user_role
        where user_id = #{userId,jdbcType=BIGINT}
    </select>

    <insert id="insertRole" parameterType="cn.edu.guet.weappdemo.bean.SysUserRole">
        insert into sys_user_role (id,user_id,role_id)
        VALUES (#{id},#{userId},#{roleId});
    </insert>

    <update id="updateRole" parameterType="cn.edu.guet.weappdemo.bean.SysUserRole">
        update sys_user_role set role_id=#{roleId} where id=#{id};
    </update>
</mapper>